.content {
  margin: 0;
  background-color: #ffffff;
  color: #444444;
  font-family: $lato;
  font-size: 14px;
  line-height: 18px;
}

.content__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
