.expenses {
  display: inline-block;
  max-width: 206px;
  box-sizing: border-box;
  padding: 3px 10px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 20px;
}

.expenses__title {
  display: inline-block;
  text-transform: uppercase;
}

.expenses__price {
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
}
