.feedback-statistics {
  max-width: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 0 32px;
}

.feedback-statistics__expenses {
  margin: 0 36px;
  grid-column: 1/3;
}
