.feedback {
  padding: 25px 22px 41px;
  background-color: #eaeaea;
}

.feedback__title {
  max-width: 430px;
  margin: 0 0 40px;
  color: #000000;
  font-family: $oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.feedback__text {
  max-width: 430px;
  margin: 0 0 20px;
}

.feedback__statistics {
  margin-bottom: 15px;
}
