.feedback-statistics {
}

.feedback-statistics__baner-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
  margin-bottom: 29px;
}
.feedback-statistics__weight {
}
.eedback-statistics__time {
}
.feedback-statistics__expenses {
  margin: 0 36px;
}
