.feedback-statistics {
  max-width: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 31px;
}

.feedback-statistics__baner-wrap {
}
.feedback-statistics__weight {
}
.eedback-statistics__time {
}
.feedback-statistics__expenses {
  margin: 0 36px;
  grid-column: 1/3;
}
