.feedback {
  padding: 25px 20px 41px;
  background-color: #eaeaea;

  @media (min-width: $tablet) {
    padding: 45px 30px 102px;
    position: relative;
    z-index: 5;
  }

  @media (min-width: $desktop) {
    padding: 0 0 55px;
  }

  &::before {
    @media (min-width: $tablet) {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
      position: absolute;
      top: 0;
      left: 0;
    }

    @media (min-width: $desktop) {
      display: none;
    }
  }

  &::after {
    @media (min-width: $tablet) {
      content: "";
      width: 100%;
      height: calc(100% - 462px);
      background-color: #ffffff;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    @media (min-width: $desktop) {
      display: none;
    }
  }
}

.feedback__title {
  max-width: 430px;
  margin: 0 0 40px;
  color: #000000;
  font-family: $oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $tablet) {
    max-width: 550px;
    margin: 0 0 60px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    max-width: unset;
    padding-top: 33px;
    padding-bottom: 24px;
    margin-bottom: 70px;
    background-color: #ffffff;
  }
}

.feedback__title-wrap {
  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 720px 50px 0;
    display: block;
  }
}

.feedback__wrap {
  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    position: relative;
  }
}

.feedback__text {
  max-width: 430px;
  margin: 0 0 20px;

  @media (min-width: $tablet) {
    max-width: 900px;
    margin: 0 0 56px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    max-width: 433px;
    margin-bottom: 70px;
  }
}

.feedback__statistics {
  margin-bottom: 15px;
}
