.footer-links {
  padding: 36px 20px;
  text-align: center;
}

.footer-links__logo-shop-wrap {
}
.footer-links__logo-shop {
  display: block;
}

.footer-links__logo-image {
}

.footer-links__social {
}

.footer-links__copyright {
}
