.header {
  padding: 13px 0 0;
  background-image: url("../img/logo-text.svg");
  background-position: top 23px left 50%;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.header__logo {
  margin-left: 20px;
}
