.main {
  flex-grow: 1;
}

.main__welcome {
  margin-bottom: 19px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 81px;
  }
}

.main__product {
  margin-bottom: 21px;

  @media (min-width: $tablet) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 75px;
  }
}

.main__advantages {
  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
  }
}
