.nav {
  width: 100%;

  @media (min-width: $tablet) {
    width: 520px;
  }

  @media (min-width: $desktop) {
  }
}

.nav__toggle {
  @include button-null;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 22px;
  top: 19px;
  display: none;
  cursor: pointer;
}

.nav__toggle-wrap {
  width: 24px;
  height: 2px;
  display: block;
  background-color: #000000;
  transition: background-color 1s ease-in;

  &::before,
  &::after {
    content: "";
    width: 24px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    left: 0;
    transition: transform 0.6s ease-in;
  }

  &::before {
    top: 3px;
    transform-origin: top right;
  }

  &::after {
    bottom: 3px;
    transform-origin: bottom right;
  }
}

.nav--closed .nav__toggle {
  display: block;

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.nav--opened .nav__toggle {
  display: block;

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.nav--opened .nav__toggle-wrap {
  background-color: transparent;
  transition: background-color 0.3s ease-out;
}

.nav--opened .nav__toggle-wrap::after {
  transform: rotate(45deg);
}

.nav--opened .nav__toggle-wrap::before {
  transform: rotate(-45deg);
}

.nav--closed .nav__list {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: static;
  }

  @media (min-width: $desktop) {
  }
}

.nav--opened .nav__list {
  width: 100%;
  display: block;
  background-color: #ffffff;
  position: absolute;
  top: 65px;
  left: 0;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: static;
  }

  @media (min-width: $desktop) {
  }
}
