.nav {
  width: 100%;
  background-color: #ffffff;
}

.nav__toogle {
  @include button-null;
  width: 24px;
  height: 24px;
  background: #c31010;
  position: absolute;
  right: 22px;
  top: -45px;
}

.nav--closed .nav__toogle {
  background: #44e817;
}

.nav--closed .nav__list {
  display: none;
}
