.nav {
  width: 100%;
  background-color: #ffffff;
}

.nav__toggle {
  @include button-null;
  width: 24px;
  height: 24px;
  background: #c31010;
  position: absolute;
  right: 19px;
  top: 19px;
}

.nav--closed .nav__toggle {
  background: #44e817;
}

.nav--closed .nav__list {
  display: none;
}
