.product {
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
  }
}

.product__list {
  @include ul-null;

  @media (min-width: $desktop) {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 78px;
  }
}

.product__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 30px 0 0 0;

  @media (min-width: $tablet) {
    padding: 77px 0 35px 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }

  &:not(:last-child) {
    @media (min-width: $tablet) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 0;
    }
  }
}

.product__title {
  margin: 0 0 30px;
  padding-left: 90px;
  color: #000000;
  font-family: $oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  position: relative;

  @media (min-width: $tablet) {
    margin: 0 0 23px;
    padding-left: 53px;
    padding-right: 280px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 72px;
    padding-left: 214px;
    padding-right: 0;
  }

  &--slim {
    &::before {
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: rgb(104, 183, 56);
      position: absolute;
      top: -5px;
      left: 20px;

      @media (min-width: $tablet) {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        top: 15px;
        left: 100%;
        margin-left: -263px;
      }

      @media (min-width: $desktop) {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        top: -29px;
        left: 52px;
        margin-left: 0;
      }
    }

    &::after {
      content: "";
      width: 50px;
      height: 50px;
      background-image: url("../img/Index/cat-slim.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: auto 50px;
      position: absolute;
      top: -8px;
      left: 27px;

      @media (min-width: $tablet) {
        width: 200px;
        height: 200px;
        background-size: 140px auto;
        top: 4px;
        left: 100%;
        margin-left: -233px;
      }

      @media (min-width: $desktop) {
        width: 100px;
        height: 100px;
        background-size: 70px auto;
        top: -35px;
        left: 67px;
        margin-left: 0;
      }
    }
  }

  &--pro {
    &::before {
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: rgb(104, 183, 56);
      position: absolute;
      top: -5px;
      left: 21px;

      @media (min-width: $tablet) {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        top: 15px;
        left: 100%;
        margin-left: -263px;
      }

      @media (min-width: $desktop) {
        width: 100px;
        height: 100px;
        border-radius: 500px;
        top: -29px;
        left: 52px;
        margin-left: 0;
      }
    }

    &::after {
      content: "";
      width: 70px;
      height: 50px;
      background-image: url("../img/Index/cat-pro.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 67px auto;
      position: absolute;
      top: 6px;
      left: 12px;

      @media (min-width: $tablet) {
        width: 270px;
        height: 200px;
        background-size: 268px auto;
        top: 58px;
        left: 100%;
        margin-left: -297px;
      }

      @media (min-width: $desktop) {
        width: 150px;
        height: 100px;
        background-size: 134px auto;
        top: -9px;
        left: 34px;
        margin-left: 0;
      }
    }
  }
}

.product__text {
  max-width: 430px;
  margin: 0 20px 21px;

  @media (min-width: $tablet) {
    max-width: 344px;
    margin: 0 52px 32px;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    max-width: 460px;
    margin: 0 52px 8px;
  }
}

.product__link-wrap {
  width: 100%;
  position: relative;

  &::before {
    content: "";
    width: calc(100% - 40px);
    height: 1px;
    text-align: center;
    background-color: #d9d9d9;
    display: block;
    position: absolute;
    top: 0;
    left: 20px;

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.product__link {
  max-width: 260px;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  padding: 21px 60px 21px 21px;
  position: relative;

  @media (min-width: $tablet) {
    margin-left: 31px;
    line-height: 30px;
    font-size: 20px;
  }

  @media (min-width: $desktop) {
    margin-left: 32px;
  }

  &::after {
    content: "";
    width: 40px;
    height: 10px;
    background-image: url("../img/icons/long-arrow.svg");
    background-position: -8px 50%;
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: 24px;
    right: 5px;
    transition: background-position 400ms ease-out;

    @media (min-width: $tablet) {
      top: 31px;
      right: -6px;
    }

    @media (min-width: $desktop) {
      right: -5px;
    }
  }

  &:hover::after {
    background-position: 0 50%;
  }

  &:focus-visible {
    outline: none;
  }

  &:focus-visible::after {
    outline: none;
    background-position: 0 50%;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline: none;
    }

    &:focus::after {
      outline: none;
      background-position: 0 50%;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
