.site-list {
  @include ul-null;
}

.site-list__item {
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  position: relative;

  @media (min-width: $tablet) {
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop) {
  }
  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: $tablet) {
      display: none;
    }
    @media (min-width: $desktop) {
    }
  }
}

.site-list__link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-family: $oswald;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 23px 5px;
  position: relative;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
    padding: 14px 6px;
  }

  @media (min-width: $desktop) {
    color: #ffffff;
    font-size: 20px;
    line-height: normal;
  }

  &--active::before {
    content: "";
    width: calc(100% - 12px);
    height: 2px;
    background-color: #68b738;
    position: absolute;
    left: 6px;
    bottom: 4px;

    @media (min-width: $desktop) {
      background-color: #ffffff;
    }
  }

  &:hover {
    color: rgba(0, 0, 0, 0.8);

    @media (min-width: $desktop) {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &:focus-visible {
    outline: none;
    color: rgba(0, 0, 0, 0.8);

    @media (min-width: $desktop) {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline: none;
      color: rgba(0, 0, 0, 0.8);

      @media (min-width: $desktop) {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.6);

    @media (min-width: $desktop) {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
