.social {
  min-height: 50px;
  border-top: 1px solid #d9d9d9;
  display: grid;
  grid-template-columns: repeat(3, 28px);
  justify-content: center;
  align-items: center;
  gap: 10px 24px;
  padding-top: 4px;
  padding-bottom: 7px;

  @media (min-width: $tablet) {
    min-height: unset;
    border: none;
    padding: 0;
    flex-grow: 1;
  }
}

.social__link {
  color: #666666;
  height: 19px;
  text-decoration: none;

  &--vk {
    mask-image: url("../img/social-stack.svg#vk");
    mask-position: 50% 50%;
    mask-size: 28px 22px;
    mask-repeat: no-repeat;
    background-color: #666666;
  }

  &--youtube {
    mask-image: url("../img/social-stack.svg#youtube");
    mask-position: 50% 50%;
    mask-size: 28px 22px;
    mask-repeat: no-repeat;
    background-color: #666666;
  }

  &--telegram {
    mask-image: url("../img/social-stack.svg#telegram");
    mask-position: 50% 50%;
    mask-size: 28px 22px;
    mask-repeat: no-repeat;
    background-color: #666666;
  }

  &:hover {
    background-color: #68b738;
  }

  &:focus-visible {
    outline: none;
    background-color: #68b738;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline: none;
      background-color: #68b738;
    }
  }

  &:active {
    background-color: rgba(105, 183, 56, 0.3);
  }
}
