.additional-products {
  padding-top: 20px;
  margin-bottom: 35px;
  position: relative;

  @media (min-width: $tablet) {
    padding-top: 25px;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 89px;
  }
}

.additional-products__wrap {
  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
  }
}

.additional-products__title-text {
  max-width: 280px;

  @media (min-width: $tablet) {
    max-width: 630px;
    margin-left: 30px;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
  }
}

.additional-products__title {
  margin: 0 0 33px;

  @media (min-width: $tablet) {
    margin: 0 0 80px;
  }
}

.additional__desktop-wrap {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 895px 245px;
    gap: 80px;
  }
}

.additional-products__list {
  @include ul-null;
  margin: 0 20px 35px;
  padding-bottom: 18px;
  position: relative;

  @media (min-width: $tablet) {
    margin: 0 30px 70px;
    padding-bottom: 27px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop) {
    padding-bottom: 0;
    margin: 0;
    border: none;
  }

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.additional-products__item:not(:last-child) {
  margin-bottom: 18px;

  @media (min-width: $tablet) {
    margin-bottom: 29px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 16px;
  }
}

.additional-products__gift {
  min-height: 290px;
  display: block;
  margin: 0 20px 35px;
  box-sizing: border-box;
  padding-top: 187px;
  text-decoration: none;
  background-color: #68b738;
  background-image: url("../img/catalog/gift.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog/gift@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet) {
    min-height: 200px;
    margin: 0 30px 35px;
    display: flex;
    justify-content: end;
    padding-top: 0;
    background-image: url("../img/catalog/gift-tablet.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/gift-tablet@2x.jpg");
      background-size: cover;
    }

    @media (min-width: $desktop) {
      min-height: 288px;
      margin: 0;
      display: block;
      background-image: url("../img/catalog/gift-desktop.jpg");
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/gift-desktop@2x.jpg");
        background-size: cover;
      }
    }

    &:hover {
      opacity: 0.8;
    }

    &:focus-visible {
      outline: none;
      opacity: 0.8;
    }

    @supports not selector(:focus-visible) {
      &:focus {
        outline: none;
        opacity: 0.8;
      }
    }

    &:active {
      opacity: 0.6;
    }
  }

  &::before {
    content: "";
    width: 85px;
    height: 85px;
    background-image: url("../img/icons/gift.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet) {
      transform: none;
      left: 75px;
    }

    @media (min-width: $desktop) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.additional-products__gift-text {
  width: 170px;
  margin: 0 auto;
  color: #ffffff;
  font-family: $lato;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet) {
    margin: 0 116px 0 0;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
    padding-top: 185px;
    padding-bottom: 0;
    text-align: center;
  }
}
