.additionally-group {
  padding-bottom: 37px;

  @media (min-width: $desktop) {
    padding-bottom: 44px;
  }
}

.additionally-group__legend {
  margin-bottom: 39px;

  @media (min-width: $tablet) {
    margin-bottom: 65px;
  }
}

.additionally-group__legend-text {
  max-width: 250px;

  @media (min-width: $tablet) {
    max-width: 630px;
    margin-left: 30px;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
  }
}

.additionally-group__list {
  margin: 0 20px;

  @media (min-width: $tablet) {
    margin: 0 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 27px 60px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 27px 80px;
  }
}

.additionally-group__item:not(:last-child) {
  margin-bottom: 22px;
}
