.comment-group {
  padding-bottom: 16px;

  @media (min-width: $tablet) {
    padding-bottom: 62px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 68px;
  }
}

.comment-group__legend {
  margin-bottom: 38px;

  @media (min-width: $tablet) {
    margin-bottom: 84px;
  }
}

.comment-group__legend-text {
  max-width: 250px;

  @media (min-width: $tablet) {
    max-width: 630px;
    margin-left: 30px;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
  }
}

.comment-group__text-wrap {
  display: block;
  margin: 0 20px;

  @media (min-width: $tablet) {
    margin: 0 70px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
  }
}

.comment-group__text {
  min-width: 282px;
  width: 100%;
  max-width: 1220px;
  min-height: 150px;
  box-sizing: border-box;
  padding: 12px 10px 12px 14px;
  border: 1px solid #e7e7e7;
  resize: none;
  color: #444444;
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    min-height: 175px;
    padding: 10px 10px 10px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    min-height: 165px;
    padding: 0 10px 10px 20px;
  }

  &::placeholder {
    color: #444444;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    outline: none;
    border: 2px solid #444444;
  }
}
