.contact-group {
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    padding-bottom: 40px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 25px;
  }
}

.contact-group__legend {
  margin-bottom: 32px;

  @media (min-width: $tablet) {
    margin-bottom: 74px;
  }
}

.contact-group__legend-text {
  max-width: 229px;

  @media (min-width: $tablet) {
    max-width: 630px;
    margin-left: 30px;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
  }
}

.contact-group__list {
  margin: 0 20px;

  @media (min-width: $tablet) {
    margin: 0 70px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 81px;
  }
}

.contact-group__item {
  position: relative;

  @media (min-width: $desktop) {
    width: 569px;
  }

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: $tablet) {
      margin-bottom: 20px;
    }
  }
}

.contact-group__svg {
  color: #000000;
  position: absolute;
  top: 13px;
  right: 12px;

  @media (min-width: $tablet) {
    top: 16px;
    right: 14px;
  }
}
