.form {
  @media (min-width: $tablet) {
    padding-bottom: 60px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 79px;
  }
}

.form__group-wrap {
  margin-bottom: 26px;

  @media (min-width: $tablet) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto 71px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 82px;
  }
}

.form__group {
  @include fieldset-null;
}

.form__list {
  @include ul-null;
}

.form__requirements-wrap {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 39px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    gap: 57px;
  }
}

.form__requirements {
  text-align: center;
  margin: 0 0 31px;
  color: #000000;

  @media (min-width: $tablet) {
    text-align: left;
    margin: 0;
    padding-top: 16px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop) {
    padding-top: 18px;
  }
}
