.form-page {
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.form-page__title {
  margin-bottom: 38px;
}

.form-page-text {
  margin: 0 32px 39px 22px;
}
