.form {
}

.form__group {
  @include fieldset-null;
}

.form__list {
  @include ul-null;
}

.form__legend {
  width: 100%;
  padding: 0;
}

.form__legend-text {
  display: inline-block;
  box-sizing: border-box;
  color: #000000;
  font-family: $oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  background-color: #ffffff;
}

.form__required {
  text-align: center;
  margin: 0 0 31px;
  color: #000000;
}
