.product-type {
  display: block;
  padding-bottom: 21px;
  padding-top: 30px;
  position: relative;

  &::before {
    content: "";
    width: 100vw;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
    left: -20px;
  }
}

.product-type__item:not(:last-child) {
  margin-bottom: 23px;
}
