.radio-input__label {
  padding-left: 47px;
  color: #444444;
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: 1px solid #cdcdcd;
    position: absolute;
    left: 2px;
    top: -4px;
  }

  &::after {
    content: "";
    display: none;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #68b738;
    position: absolute;
    left: 10px;
    top: 4px;
  }
}

.radio-input__input:checked + .radio-input__label::after {
  display: block;
}

.radio-input__input:hover + .radio-input__label::before {
  border-color: #bababa;
}

.radio-input__input:hover + .radio-input__label {
  color: #222222;
}

.radio-input__input:focus-visible + .radio-input__label::before {
  border-color: #bababa;
}

.radio-input__input:focus-visible + .radio-input__label {
  color: #222222;
}

@supports not selector(focus-visible) {
  .radio-input__input:focus-visible + .radio-input__label::before {
    border-color: #bababa;
  }

  .radio-input__input:focus-visible + .radio-input__label {
    color: #222222;
  }
}

.radio-input__input:disabled + .radio-input__label::before,
.radio-input__input:disabled + .radio-input__label {
  opacity: 0.3;
}
