.text-input {
  display: flex;
  gap: 14px;

  @media (min-width: $tablet) {
    gap: 13px;
  }
}

.text-input__label {
  max-width: 95px;
  padding-top: 13px;
  color: #444444;
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: pre-line;

  @media (min-width: $tablet) {
    padding-top: 15px;
    max-width: 120px;
    font-size: 20px;
  }
}

.text-input__input {
  @include input-null;
  box-sizing: border-box;
  width: 60%;
  height: 45px;
  padding: 1px 35px 0 13px;
  border: 1px solid #e7e7e7;
  color: #444444;
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  flex-grow: 1;

  @media (min-width: $tablet) {
    height: 52px;
    padding: 0 45px 0 19px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    padding: 0 45px 0 20px;
  }

  &::placeholder {
    color: #444444;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  &--alarm {
    border: 2px solid #ff8282;
  }

  &--alarm + .text-input__svg {
    color: #ff8282;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:hover + .text-input__svg {
    color: #222222;
  }

  &:focus {
    outline: none;
    border: 2px solid #444444;
  }

  &:focus + .text-input__svg {
    color: #68b738;
  }
}
